@model IdentitySample.Models.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>LMS | Registrarse</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="Sistema de administración de aprendizaje" name="description" />
    <meta content="Willian Díaz" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.min.css" rel="stylesheet" />
    <link href="/assets/css/style.min.css" rel="stylesheet" />
    <link href="/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top bg-white">
    <!-- begin #page-loader -->
    <div id="page-loader">
        <div class="material-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
            <div class="message">Cargando...</div>
        </div>
    </div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin register -->
        <div class="register register-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image">
                    <img src="/assets/img/login-bg/bg-8.jpg" alt="" />
                </div>
                <div class="news-caption">
                    <h4 class="caption-title"><i class="material-icons text-cyan pull-left m-r-5">edit</i> Learning Managment Sofware</h4>
                    <p>
                        Bienvenido al DEMO del sistema administrador de aprendizaje en línea, una idea totalmente innovadora
                    </p>
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <!-- begin register-header -->
                <h1 class="register-header p-t-20">
                    Registrarse
                    <small>Crea tu cuenta en LMS y forma parte de la innovación.</small>
                </h1>
                <!-- end register-header -->
                <!-- begin register-content -->
                <div class="register-content p-t-10">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "margin-bottom-0", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <label class="control-label">@Html.DisplayNameFor(m => m.Identidad)</label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Identidad, new { @class = "form-control", placeholder = "Número de identidad" })
                                @Html.ValidationMessageFor(m => m.Identidad, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <label class="control-label">Nombres <span class="text-danger">*</span></label>
                        <div class="row row-space-10">
                            <div class="col-md-6 m-b-15">
                                @Html.TextBoxFor(m => m.PrimerNombre, new { @class = "form-control", placeholder = "Primer nombre" })
                                @Html.ValidationMessageFor(m => m.PrimerNombre, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 m-b-15">
                                @Html.TextBoxFor(m => m.SegundoNombre, new { @class = "form-control", placeholder = "Segundo nombre" })
                                @Html.ValidationMessageFor(m => m.SegundoNombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <label class="control-label">Apellidos <span class="text-danger">*</span></label>
                        <div class="row row-space-10">
                            <div class="col-md-6 m-b-15">
                                @Html.TextBoxFor(m => m.PrimerApellido, new { @class = "form-control", placeholder = "Primer apellido" })
                                @Html.ValidationMessageFor(m => m.PrimerApellido, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 m-b-15">
                                @Html.TextBoxFor(m => m.SegundoApellido, new { @class = "form-control", placeholder = "Segundo apellido" })
                                @Html.ValidationMessageFor(m => m.SegundoApellido, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <label class="control-label"> @Html.DisplayNameFor(m => m.Email) <span class="text-danger">*</span></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Correo electrónico" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <label class="control-label">@Html.DisplayNameFor(m => m.Password) <span class="text-danger">*</span></label>
                        <div class="row row-space-10">
                            <div class="col-md-6 m-b-15">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Contraseña" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 m-b-15">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmar contraseña" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="checkbox m-b-30">
                            <label>
                                <input type="checkbox" required /> Al hacer clic en Registrarse, acepta nuestros <a href="#">Términos</a> y que ha leído nuestra <a href="#">Política de Datos</a>, incluyendo nuestro <a href="#">uso de Cookies</a>.
                            </label>
                        </div>
                        <div class="register-buttons">
                            <input type="submit" class="btn btn-info btn-block btn-lg" value="Registrarse" />
                        </div>
                        <div class="m-t-20 m-b-0 p-b-0 text-inverse">
                            ¿Ya tienes una cuenta? Click @Html.ActionLink("aquí", "Login") para iniciar sesión.
                        </div>
                        <hr />
                        <p class="text-center">
                            &copy; LMS todos los derechos reservados 2021
                        </p>
                    }
                </div>
                <!-- end register-content -->
            </div>
            <!-- end right-content -->
        </div>
        <!-- end register -->
    </div>

    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="/assets/crossbrowserjs/respond.min.js"></script>
        <script src="/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="/assets/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
</body>
</html>