<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LMS</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @Styles.Render("~/Content/css",
                   "~/Content/css/PageLevelCss")

    @Scripts.Render("~/Content/js/pace")

</head>
<body>

    <!-- begin #page-loader -->
    <div id="page-loader">
        <div class="material-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
            <div class="message">Cargando...</div>
        </div>
    </div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar">

        @Html.Partial("Partial/_Header")

        @Html.Partial("Partial/_Sidebar")


        <!-- begin #content -->
        <div id="content" class="content">
            @RenderBody()
        </div>
        <!-- end #content -->

        @Html.Partial("Partial/_ThemePanel")

        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->

    </div>
    <!-- end page container -->

    @Scripts.Render("~/Content/js",
                    "~/Content/js/PageLevelJs")

    <script>
		$(document).ready(function() {
			App.init();
			Dashboard.init();
		});
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
